body
{
      margin: 0;
      padding: 0;
      overflow: auto;
}


/* styles for Wrapper */
.wrapper
{
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: transparent;
      z-index: 1;
}
.wrapper .cont
{
      width: 40%;
      margin-left: auto;
      margin-right: auto;
      background-color: white;
      border: 2px solid black;
      border-radius: 10px;
      position: relative;
      text-align: center;
      font-size: 25px;
      padding: 40px;
      font-weight: 600;
      margin-top: 20%;
      animation: animateW 2s infinite;
}
.wrapper .cont .b
{
      width: auto;
      background-color: white;
      color: black;
      font-size: 16px;
      border: 2px solid black;
      border-radius: 5px;
      padding: 5px 20px;
      margin-top: 30px;
      transition: background-color 2s;
      animation: animateW 2s infinite;
}
.wrapper .cont .b:hover
{
      background-color: rgba(211, 2, 2, 0.74);
}
.cont3 #cs, #noncs
{
      float: left;
      margin-left: 28%;
      height: 15px;
      width: 15px;
      vertical-align: sub;
}
.cont3 label
{
      float: left;
      margin-left: 10px;
      font-size: 20px;
      font-weight: 400;
}
#lab
{
      font-size: 12px;      
      display: block;
      text-align: center;
      color: white;
      margin-top: 5px;
      height: 15px
}
@keyframes animateW
{
      0%{text-shadow: 0 0 1px red, 0 0 1px red;}
      50%{text-shadow: 0px 0px 5px red, 0px 0px 5px red;}
      100%{text-shadow: 0 0 1px red, 0 0 1px red;}
}


/* Styles for header */
header
{
      border: 2px solid lightgray;
      padding: 25px;
      background-image: linear-gradient(to right bottom, rgb(43, 38, 38), black); 
      color: white;
      font-family: 'Tangerine', cursive;
      font-size: 30px;
      text-align: center;
      animation: animateTxt 2s infinite;
      overflow: auto;
}
header img
{
      width: 10%;
      height: 10%;
      float: left;
      border: 2px solid white;
      border-radius: 10px;
      animation: animateImg 2s linear infinite;
      animation-delay: 0.5s;
}
#img2
{float: right;}
@keyframes animateTxt
{
      0%{text-shadow: 0 0 2px red, 0 0 2px red;}
      50%{text-shadow: 1px 1px 20px red, -1px -1px 20px red;}
      100%{text-shadow: 0 0 2px red, 0 0 2px red;}
}
@keyframes animateImg
{
      0%{box-shadow: 0 0 4px gold, 0 0 4px gold;}
      50%{box-shadow: 1px 1px 20px gold, -1px -1px 20px gold;}
      100%{box-shadow: 0 0 4px gold, 0 0 4px gold;}
}


/* Styles for Navigation   and Buttons */  

ul
{
      padding-inline-start: 0;
      margin-block-end: 0;
      margin-block-start: 0;
      width: 10%;
      height: 100%;
      position: absolute;
      border: solid lightgrey;
      border-width: 0 2px 2px 2px;
      background-color: grey;
      padding: 20px;
      margin: 0;
      overflow-y: auto;
      overflow-x: hidden;
}

ul li 
{
      list-style-type: none;
      display: inline;
}

.btn
{
      padding: 30px;
      margin: 10px;
      border: 2px solid lightgray;
      border-radius: 50px;
      background-color: rgba(0, 0, 0, 0.788);
      color: white;
      font-size: 20px;
      font-weight: 900;
      animation: animateBtn 2s infinite;
}
.active
{
      background-color: rgba(211, 2, 2, 0.74);
}
@keyframes animateBtnTxt
{
      0%{text-shadow: 0 0 2px rgb(28, 177, 236), 0 0 2px rgb(28, 177, 236);}
      50%{text-shadow: 1px 1px 20px rgb(28, 177, 236), -1px -1px 20px rgb(28, 177, 236);}
      100%{text-shadow: 0 0 2px rgb(28, 177, 236), 0 0 2px rgb(28, 177, 236);}
}
@keyframes animateBtnBor
{
      0%{box-shadow: 0 0 4px rgb(30, 255, 0), 0 0 4px rgb(30, 255, 0);}
      50%{box-shadow: 0px 0px 10px rgb(30, 255, 0), 0px 0px 10px rgb(30, 255, 0);}
      100%{box-shadow: 0 0 4px rgb(30, 255, 0), 0 0 4px rgb(30, 255, 0);}
}
@keyframes animateBtn
{
      0%{text-shadow: 0 0 2px rgb(28, 177, 236), 0 0 2px rgb(28, 177, 236);}
      50%{text-shadow: 1px 1px 20px rgb(28, 177, 236), -1px -1px 20px rgb(28, 177, 236);}
      100%{text-shadow: 0 0 2px rgb(28, 177, 236), 0 0 2px rgb(28, 177, 236);}

      0%{box-shadow: 0 0 4px rgb(30, 255, 0), 0 0 4px rgb(30, 255, 0);}
      50%{box-shadow: 0px 0px 10px rgb(30, 255, 0), 0px 0px 10px rgb(30, 255, 0);}
      100%{box-shadow: 0 0 4px rgb(30, 255, 0), 0 0 4px rgb(30, 255, 0);}
}

/* styles for Questions */
.ques 
{
      margin-left: 14%;
}
.que
{
      width: 60%;
      margin-left: auto;
      margin-right: auto;
      margin-top: 50px;
      border: 2px solid lightgrey;
      border-radius: 10px;
      padding: 50px;
      transition: font-size 1s, width 3s, height 3s;
      animation: animateQue 2s infinite;
}
.que:hover
{
      border-color: rgba(0, 238, 255, 0.726);
      font-size: 20px;
}
.que:hover .que .opt
{
      font-size: 14px;
}
.que:hover .next
{
      font-size: 18px;
      width: 100px;
      height: 32px;
}
.que #text
{
      font-family: 'Patua One', cursive;
}
.que .opt
{
      margin-top: 10px;
      font-family: 'Baloo Da 2', cursive;
}
.gap{margin-top: 10px;}
.next
{
      display: block;
      margin-left: auto;
      margin-right: auto;
      margin-top: 15px;
      padding: 5px 15px;
      width: auto;
      height: auto;
      color: rgb(255, 0, 0);
      border: 2px solid rgba(0, 238, 255, 0.726);
      border-radius: 5px;
      background-color: white;
      transition: background-color 2s, color 2s;
}
.next:hover
{
      background-color: rgba(211, 2, 2, 0.74);
      color: white;
}
@keyframes animateQue
{      
      0%{box-shadow: 0 0 1px rgb(0, 238, 255), 0 0 1px rgb(0, 238, 255) inset;}
      50%{box-shadow: 0px 0px 10px rgb(0, 238, 255), 0 0 10px rgb(0, 238, 255) inset;}
      100%{box-shadow: 0 0 1px rgb(0, 238, 255), 0 0 1px rgb(0, 238, 255) inset;}      
}




/* styles for Submit button */
.subCont{margin-left: 14%;}
.submit
{
      width: 60%;
      margin-left: auto;
      margin-right: auto;
      padding: 50px;
      text-align: center;
      border: 2px solid rgba(0, 238, 255, 0.726);
      border-radius: 10px;
      margin-top: 10px;  
}
.submit label
{
      color: rgba(211, 2, 2, 0.74);
}
.submit #btn
{
      width: auto;
      height: auto;
      padding: 5px 12px;
      margin-top: 20px;
      border-radius: 5px;
      font-size: 16px;
      border: 2px solid rgba(0, 238, 255, 0.726);
      background-color: white;
      transition: width 2s, background-color 2s, color 2s, border-color 1s;
}
.submit #btn:hover
{
      width: 100px;
      background-color: gold;
      color: white;
      border-color: black;
}


/* Signature style */
.signature
{
      bottom: 0;
      right: 0;
      position: fixed;
      font-size: 5px;
      margin-right: 20px;
      margin-bottom: 20px;
      padding: 5px;
      color: white;
      border-radius: 8px;
      animation: animateSign 1.5s infinite;
}
.signature .name
{
      margin-top: 15px;
      font-family: 'Tangerine', cursive;
}
@keyframes animateSign
{
      0%{text-shadow: 0 0 2px red;}
      50%{text-shadow: 0px 0px 5px red;}
      100%{text-shadow: 0 0 2px red;}

      0%{box-shadow: 0 0 1px red;}
      50%{box-shadow: 0 0 5px red;}
      100%{box-shadow: 0 0 1px red;}
}


/* Styles for Result */
.result
{
      width: 50%;
      margin-left: auto;
      margin-right: auto;
      margin-top: 25%;
      border: 3px solid red;
      border-radius: 10px;
      padding: 20px;
      z-index: -1;
}
.result .resTxt
{
      display: block;
      text-align: center;
      font-family: 'Tangerine', cursive;
      font-size: 40px;
      color: rgba(211, 2, 2, 0.74);
}
.score
{
      display: block;
      text-align: center;
      font-size: 60px;
      margin: 20px 0;
      color: rgb(0, 146, 7);
      font-family: 'Londrina Sketch', cursive;
      font-weight: 700;
}





/* Styles for Decoration */
.piece
{
      width: 8px;
      height: 10px;
      background-color: gold;
      position: absolute;
      top: -5%;
}

.set 
{
      width: 100%;
      height: 100%;
      position: absolute;
      top: -10%;
}

.sec1, .sec2, .sec3
{
      z-index: 999;
}


.set1{transform: translate(0px, 0px);}
.set2{transform: translate(30px, 50px);}
.set3{transform: translate(20px, 100px);}
.set4{transform: translate(50px, 150px);}
.set5{transform: translate(0px, 200px);}
.set6{transform: translate(30px, 250px);}                  
.set7{transform: translate(20px, 300px);}
.set8{transform: translate(50px, 350px);}
.set9{transform: translate(0px, 400px);}
.set10{transform: translate(30px, 450px);}  

.set .piece:nth-child(1)
{      left: 2%;      }
.set .piece:nth-child(2)
{      left: 9%;      }
.set .piece:nth-child(3)
{      left: 18%;      }
.set .piece:nth-child(4)
{      left: 28%;      }
.set .piece:nth-child(5)
{      left: 37%;      }
.set .piece:nth-child(6)
{      left: 45%;      }
.set .piece:nth-child(7)
{      left: 53%;      }
.set .piece:nth-child(8)
{      left: 61%;      }
.set .piece:nth-child(9)
{      left: 70%;      }
.set .piece:nth-child(10)
{      left: 79%;      }
.set .piece:nth-child(11)
{      left: 89%;      }
.set .piece:nth-child(12)
{      left: 95%;      }

.sec1 .piece:nth-child(even)
{animation: animate1 5s linear infinite; animation-delay: .2s;}
.sec1 .piece:nth-child(odd)
{animation: animate2 5s linear infinite;}

.sec2 .piece:nth-child(even)
{animation: animate1 5s linear infinite; animation-delay: 1.68s;}
.sec2 .piece:nth-child(odd)
{animation: animate2 5s linear infinite; animation-delay: 1.6s;}

.sec3 .piece:nth-child(even)
{animation: animate1 5s linear infinite; animation-delay: 3.3s;}
.sec3 .piece:nth-child(odd)
{animation: animate2 5s linear infinite; animation-delay: 3.2s;}


@keyframes animate1
{
      0%
      {
            top: -2%;                              
            transform: rotate3d(1, 0, 1, 0deg);
      }  
      100%
      {
            top: 98%;
            transform: rotate3d(1, 0, 1, 1800deg);
      }                   
}
@keyframes animate2
{
      0%
      {
            top: -2%;                              
            transform: rotate3d(0, 0, 0, 0deg);
      }  
      100%
      {
            top: 98%;
            transform: rotate3d(1, 1, 1, 1800deg);
      }                   
}

@media screen and (max-width: 600px)
{
      .piece
      {
            width: 4px;
            height: 5px;
      }                        
}


/* Responsive Work */
@media screen and (max-width: 500px) 
{
      .wrapper .cont
      {
            width: 60%;
            font-size: 16px;
            font-weight: 400;
      }
      .cont3 label {font-size: 16px;}
      #lab
      {      font-size: 8px;      }
      .cont3 #cs, #noncs
      {      margin-left: 10%;    }
      .cont3 .optC div
      {     margin-top: 10px;     }


      ul{width: 20%;}
      .ques{margin-left: 25%;}
      .submit{margin-left: 20%; width: 53%;}
}
@media screen and (max-height: 800px) 
{
      .btn{animation: animateBtnTxt 2s infinite;}
      .btn:hover{animation: animateBtnBor 2s infinite;}    
      .result{margin-top: 10%;}  
}
@media screen and (min-height: 1500px) 
{
      .wrapper .cont {width: 60%; font-size: 50px;}
      .wrapper .cont1 #title {font-size: 70px;}
      .cont3 label {font-size: 35px;}
      .cont3 #cs, #noncs {margin-left: 25%;height: 25px; width: 25px; vertical-align: middle; margin-top: 8px;}
      .cont3 .optC {margin-top: 25px;}
      .wrapper .cont .b, .ques .next, .ques .next:hover, .submit #btn, .submit #btn:hover, .que:hover .next { width: auto; font-size: 30px; padding: 10px 20px; height: auto; border-radius: 10px;}
      header {font-size: 50px;}
      header h1 {margin-top: 15px; margin-bottom: 10px;}
      .que {width: 70%; margin-top: 150px; font-size: 25px;}
      .que .opt {font-size: 20px;}
      .que .opt1, .opt2, .opt3, .opt4 {margin-bottom: 5px;}
      .que:hover {font-size: 35px;}
      .que:hover .opt {font-size: 25px;}
      .ques .next { margin-top: 25px;}
      .submit {width: 70%;}
      .submit label {font-size: 35px;}
      .submit #btn:hover {background-color: gold; color: white; border-color: black; width: auto;}
      .signature {font-size: 15px; padding: 10px;}
}



/* Styles for Ink Transition */
#demo
{
      display: none;
      position: absolute;
      left: 50%;
      top: 50%;
      -webkit-transform: translateY(-50%) translateX(-2%); 
      transform: translateY(-50%) translateX(-2%);     
      height: 110%;
      /* our sprite is composed of 25 frames */
      width: 2500%;
      background: url("ink.png") no-repeat 0 0;
      background-size: 100% 100%;
      z-index: 99;
}

.forward
{                  
      animation: play 1.5s steps(24);    
      animation-fill-mode: forwards;
}
@keyframes play
{       
      0% {
            transform: translateY(-50%) translateX(-2%);
      }
      100% {        
            transform: translateY(-50%) translateX(-98%);
      }     
      
}

.reverse
{                
      animation: play-reverse 1.5s steps(24);    
      animation-fill-mode: forwards;
}
@keyframes play-reverse
{  
      0% {
            transform: translateY(-50%) translateX(-98%);
      }
      100% {        
            transform: translateY(-50%) translateX(-2%);
      }                   
}
